.btn:hover {
    text-decoration: none !important;
}

.btn-outline-success {
    border-radius: 50px;
    border-color: $theme;
    background-color: $theme;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.btn-outline-success:hover {
    background-color: white !important;
    color: $theme !important;
}

.button-find p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px !important;
    font-weight: 500;
}

.button-register {
    margin: auto;
    text-align: center;
}

.button-register button {
    margin: auto;
    background-color: $theme;
    font-weight: 500;
    color: white;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    border: 1px solid $theme;
}

.button-register div:hover {
    background-color: white;
    color: $theme;
    border: 1px solid $theme;
}

.button-register button:hover {
    background-color: white;
    color: $theme;
    border: 1px solid $theme;
}

.button-subscribe {
    background-color: white;
    color: $theme;
    border-radius: 50px;
    padding: 6px 0;
    width: 30%;
    text-align: center;
    cursor: pointer;
    border: 1px solid $theme;
    margin: 50px auto auto;
}

.button-subscribe:hover {
    background-color: $theme;
    border-color: white;
    color: white;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) {
    .button-register div {
        width: 90%;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    .button-register {
        display: flex;
        justify-content: center;
    }

    .button-register div {
        width: 90%;
    }

    .button-register button {
        width: 90%;
    }

    .navbar .btn-outline-success {
        font-size: 12px;
        height: 33px;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
    .button-register button {
        width: 90%;
    }

    .navbar .btn-outline-success {
        font-size: 9px;
    }
}
