.fixed-top {
    background-color: white;
}

.navbar-brand img {
    height: 42px;
}

.navbar-nav > li {
    list-style: inherit;
    display: inherit;
    margin: initial;
}

.navbar-collapse .navbar-nav .nav-link {
    margin-right: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: $theme;
}

.navbar-collapse .navbar-nav .nav-link:hover, .navbar-collapse .navbar-nav .active > .nav-link {
    color: $darken-theme;
    text-decoration: underline;
}

.navbar-collapse .navbar-nav .active > .nav-link:hover {
    text-decoration: none;
}

@include media-breakpoint-up(md) {
    .navbar-expand-md .navbar-nav {
        justify-content: flex-end;
        width: 100%;
    }
}

.navbar-toggler {
    position: relative;
    color: white;
    border: none;
}

.navbar-toggler > .icon {
    color: $theme;
    font-size: larger;
}

@include media-breakpoint-down(sm) {
    .navbar {
        padding: 0.5rem 0;
    }

    .navbar-collapse {
        background-color: $theme;
        color: white !important;
        text-align: center;
    }

    .navbar-collapse .navbar-nav {
        margin: 1rem auto !important;
    }

    .navbar-collapse .navbar-nav > li {
        display: unset;
    }

    .navbar-collapse .navbar-nav .nav-link {
        color: white;
        margin-right: unset;
    }

    .navbar-collapse .navbar-nav .nav-link:hover, .navbar-collapse .navbar-nav .active > .nav-link {
        color: white;
    }
}
